<div class="container">
    <div class="body">
        <button type="button" class="btn btn-primary" (click)="clickButton()">Consumir Endpoint 1</button>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">N°</th>
                    <th scope="col">number</th>
                    <th scope="col">quantity</th>
                    <th scope="col">first position</th>
                    <th scope="col">last position</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of list; index as i" [ngStyle]="data.quantity==0&&{'background-color': 'gray'} ||
                data.quantity>=2&&{'background-color': 'green'} ||
                 data.quantity==1 &&{'background-color': 'yellow'}">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>
                        {{ data.number}}
                    </td>
                    <td>{{ data.quantity}}</td>
                    <td>{{ data.first }}</td>
                    <td>{{ data.last }}</td>

                </tr>
            </tbody>
        </table>
        <p *ngIf="loading" style="font-size: 24px; color: black">Cargando...</p>

        <input type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-sm" [value]="textBox">
    </div>

    <div class="footer"> <button type="button" class="btn btn-primary"
            (click)="router.navigate(['/second'])">Siguiente</button>
    </div>

</div>