<div class="container">
    <div class="body">
        <button type="button" class="btn btn-primary" (click)="clickButton()">Consumir Endpoint 2</button>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">N°</th>
                    <th scope="col" *ngFor="let letter of abecedario">{{letter}}</th>
                    <th scope="col">suma Numeros contenidos</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of list; index as i">
                    <th scope="row">{{ i + 1 }}</th>
                    <td *ngFor="let letter of abecedario">
                        {{ data[letter]}}
                    </td>
                    <td>
                        {{data['total']}}
                    </td>


                </tr>
            </tbody>
        </table>
        <p *ngIf="loading" style="font-size: 24px; color: black">Cargando...</p>

    </div>

    <div class="footer"> <button type="button" class="btn btn-primary" (click)="router.navigate(['/'])">Atras</button>
    </div>

</div>